<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="AR_ApartmentBase.Properties.Settings.SaprCon" connectionString="metadata=res://*/Model.DB.EntityModel.Model.csdl|res://*/Model.DB.EntityModel.Model.ssdl|res://*/Model.DB.EntityModel.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cad01pik;initial catalog=SAPR;persist security info=True;user id=cad_ar;password=qwerty!2345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.SqlClient" />
    <add name="DatabaseTestEntities" connectionString="metadata=res://*/Model.DB.EntityModel.Test.ModelTest.csdl|res://*/Model.DB.EntityModel.Test.ModelTest.ssdl|res://*/Model.DB.EntityModel.Test.ModelTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Model\DB\EntityModel\Test\DatabaseTest.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAPREntities" connectionString="metadata=res://*/Model.DB.EntityModel.Model.csdl|res://*/Model.DB.EntityModel.Model.ssdl|res://*/Model.DB.EntityModel.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cad01pik;initial catalog=SAPR;persist security info=True;user id=cad_ar;password=qwerty!2345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>