<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SAPREntities" connectionString="metadata=res://*/Model.DB.EntityModel.Model.csdl|res://*/Model.DB.EntityModel.Model.ssdl|res://*/Model.DB.EntityModel.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cad01pik;initial catalog=SAPR;persist security info=True;user id=cad_ar;password=qwerty!2345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>