<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="20.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="AutoCAD.NET.Core" version="20.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="AutoCAD.NET.Model" version="20.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="EntityFramework.ru" version="6.1.3" targetFramework="net451" />
  <package id="morelinq" version="1.4.0" targetFramework="net451" />
</packages>